# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.next
out
dist
dist-ssr
*.local
*.tsbuildinfo
.env
.env.*
!.env.example
artifacts/
legacy-vite-src/_legacy-root/dist/
legacy-vite-src/public/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
